*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

.container{
    background-color: rgb(58, 151, 151);
    height: 300px;
    width: 300px;
    margin: 300px auto;
    padding: 5px;
}

.container form p{
    color: white;
    text-align: center;
}

input[type=submit]{
    color: red;
    margin: 0px auto 10px;
    position: relative;
    left:90px;
}

input[type=file]{
    margin: 5px auto;
    position: relative;
    left: 60px;

}

label{
    margin: 2px auto;
    position: relative;
    left:70px;
}

input[type=text]{
    margin: 2px auto;
    position: relative;
    left: 17%;
    height: 30px;
    border: none;
}

input[type=text]:active{
    border-radius: .2em;
    
}

